{
    "presets": [
        "@babel/preset-react", // jsx支持
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 2
            }
        ] // 按需使用polyfill
    ],
    "plugins": [
        "react-hot-loader/babel",
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ] // class中的箭头函数中的this指向组件
    ]
}
